# Git
.git

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release


# Dependency directories
node_modules
vendor


# IDE
.DS_Store
.idea
.vscode
.project
.projects
.tern-project
.history
.settings
.classpath
*.iml

# release
release.properties
released-pom.xml
junit.xml